body{
	text-align: center;
	font-family: 'Rock Salt', cursive;
	font-size: 1.4em;
	padding: 1% 0;
	background: #D30000;
	color: #000000;
	text-shadow: 6px 6px 20px rgba(9, 5, 250, 0.8);
}

img{
	width: 23%;
	margin: 1%;
	vertical-align: middle;
	transition: all 2s, transform .5s, box-shadow .5s;
}

img:hover{
	box-shadow: 6px 6px 20px rgba(0,0,0,.8);
	transform: scale(1.02);
}

img:focus{
	box-shadow: 12px 12px 25px rgba(0,0,0,.9);
	width: 46%;
	transform: none;
}

@media only screen and (max-width: 930px) {
	img {
		width: 37%;
	}
	img:focus{
		width: 50%;
		margin: 20px 0;
	}
}

@media only screen and (max-width: 620px) {
	img {
		width: 65%;
	}
	
	img:focus{
		width: 100%;
		margin: 20px 0;
	}
}